body {
    background: #a54c7b;
}

.container {
    max-width: 400px;
}

input[type=text], input[type=text]:focus {
    color: #FFF;
    border: none;
    background: rgba(0, 0, 0,0.2);
    max-width: 400px;
}

.todos li {
    background: #703454;
}

.delete {
    cursor: pointer;
}